<template>
  <section class="{{name-container}}"></section>
</template>
<script>
  export default {
    name: "{{properCase name}}"
    components: {},
    data() {
      return {}
    },
    mounted() { },
    methods: {}
  }
</script>