<template>
  <section class="{{name}}-container"></section>
</template>
<script>
  export default {
    name: "{{properCase name}}",
    props: {},
    data() {
      return {}
    },
    mounted() { },
    methods: {}
  }
</script>